@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@theme{
  --font-work-sans: "work-sans";
  --color-primary: #FFFFFF;
  --color-rose: #d605a4;
  --color-light-dark : #1a0830f7;
}

@layer utilities {
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .action-button {
    @apply px-4 py-2 flex justify-between items-center font-work-sans font-semibold text-lg border-2 border-rose hover:border-white transition-all duration-300 hover:bg-gradient-to-tr hover:from-red-700 hover:via-pink-700 hover:to-purple-500 rounded-2xl cursor-pointer hover:shadow-lg hover:shadow-rose;
  }
  .action-button-bg {
    @apply px-4 py-2 flex justify-between items-center font-work-sans font-semibold text-lg border-2 border-rose hover:border-white hover:bg-none hover:bg-transparent transition-all duration-300 bg-gradient-to-tr from-red-700 via-pink-700 to-purple-500 rounded-2xl cursor-pointer hover:shadow-lg hover:shadow-rose;  }
  .link-hover-gradient {
    @apply transition-all duration-300 hover:text-transparent hover:bg-clip-text hover:bg-gradient-to-r hover:from-red-700 hover:via-pink-700 hover:to-purple-500 ;
  }
  .signup-form-container{
    @apply rounded-2xl border-2 border-rose shadow-lg shadow-rose/90 bg-black/10 
  }
  .text-input{
    @apply w-full my-2 rounded-2xl border-2 border-gray-300/50 bg-gray-500/40 text-white font-work-sans font-light text-lg px-2 py-1
  }
  .service-desc{
    @apply font-work-sans font-normal text-xl text-center mb-3
  }
  .service-img{
    @apply transition-all duration-300 hover:skew-6
  }
  .link-button{
    @apply transition-all duration-300 hover:text-rose cursor-pointer active:scale-75 
  }
}



:root {
  --background: #171717;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes signal {
  0%, 100% {
    color: white;
  }
  50% {
    color:var(--color-rose);
  }
}

@keyframes flowing-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  border: none; /* Remove default border */
  height: 2px; /* Set height of the <hr> */
  background: linear-gradient(90deg, red, rgb(250, 53, 250),  red); /* Gradient with more colors */
  background-size: 200% 100%; /* Double the width for smooth animation */
  animation: flowing-gradient 3s ease-in-out infinite; /* Apply animation */
  border-radius: 10px;
}

.animate-bounce {
  animation: bounce 1s infinite;
}
.animate-fly {
  animation: fly 4s infinite;
}

.animate-signal {
  animation: signal 3s infinite;
}

/* .Carousel-container, .Carousel-container::after , Carousel-container::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.img-swiper{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #171717;
  overflow: hidden;

}
.container-swiper{
  width: 80%;
}
.swiper{
  width: 100%;
  padding:60px ;
}

.swiper-slide{
  position: relative;
  width: 300px;
  height: 500px;
  box-shadow: 1px 22px 44px rgba(0, 0, b0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
}
.swiper-slide-active{
  width: 600px;
  transition: width 1s ease-in-out;
} */
/* .swiper-slide img{
  position: absolute;
  inset: 0;
  filter: grayscale(90%);
}
.swiper-slide-active img{
  filter: grayscale(0%);
} */

/* .title-swiper{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 25px 25px 30px;
}
.title-swiper h1{
  opacity: 1;
  transition: 0.8 ease;
  transition-delay: 1s;
}
.swiper-slide-active .title-swiper h1{
  opacity: 0;
  transition-delay: -200ms;
}

@media (max-width: 800px){
  .swiper-slide-active {
    width: 500px;
  }
}
@media (max-width: 650px){
  .swiper-slide-active {
    width: 400px;
  }
}

@media (max-width: 520px){
  .swiper-slide-active {
    width: 300px;
  }
} */





